<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>Batch SQL Queries</title>
        <link href="/static/css/walk.css" rel="stylesheet" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="/static/js/walk.js"></script>
    </head>
    <body>
        <h1>Batch SQL Queries</h1>
        <div class="container">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
