{% extends "batchsql/base.html" %}

{% block content %}

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h2>About the Database</h2>
  <p>The database contains information about patents filed between 1976 and 2013. However, the data for patents from 1976 to 2004 has been taken from the <a href="http://thedata.harvard.edu/dvn/dv/patent">Harvard DVN Project</a>. You can search for patent, inventor, lawyer, assignee, claims and citation information using this website.</p>
  <h2>Important Notes</h2>
  <ol>
    <li><p>This tool searches only in a window of 3 years. You will have to do multiple searches to get information spanning more than 3 years.</p>
    <li><p>Not adding any filter will give you ALL the information we have on the field you requested in a window of 3 years! This means that if you select only the Patent ID, and submit that search with your email address, your resulting file will contain ALL the IDs of patents that have been granted in the past 3 years! Please try to specify some filters as it greatly reduces time taken for the search and size of the resulting file.</p></li>
    <li><p>Dates should be entered in the ISO format: YYYY-MM-DD, and should be 3 years apart (Except for citations).</p></li>
    <li><p>If you provide a begin date and do not provide an end Date, the app will consider the end date as the date exactly three years from the begin date. Similarly, if you do not provide a begin date, the app will oconsider the begin date exactly 3 years before the end date.</p></li>
  </ol>
  <hr />

  <h2>Get Started</h2>
  <p>Click on "New Search" to search the the database. Click on "Check Status" to check the search queue and status of a previous search.</p>
  <p style="text-align:center">
    <a class="btn btn-lg btn-primary" href="/batchsql/test" role="button">New Search</a> <a class="btn btn-lg btn-primary" href="/batchsql/status" role="button">Check Status</a>
  </p>
    <p style="text-align:center">
    <a class="btn btn-info" href="mailto:patentinterface@gmail.com?subject=Request to Add to Mailing List" target="_blank">Request to Add to Mailing List</a>
  </p>
</div>

{% endblock content %}
