{% extends "batchsql/base.html" %}

{% block content %}

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h2>About the Database</h2>
  <p>Here is some information about the database.</p>
  <h2>Features</h2>
  <p>Click on "New Search" to get the information you need from the database. Click on "Check Status" to check the search queue and status of a previous search.</p>
  <p style="text-align:center">
    <a class="btn btn-lg btn-primary" href="/batchsql/test" role="button">New Search</a> <a class="btn btn-lg btn-primary" href="/batchsql/status" role="button">Check Status</a>
  </p>
</div>

{% endblock content %}
